.ShopPage {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap; /* 반응 */
  gap: 2rem;
}

.ShopPage h2 {
  width: 100%;
  padding: 1rem 0;
  font-size: 2rem;
}

.ShopPage nav {
  border: 1px solid yellow;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; /*flex 1을 해야 이쁘게 되는데 왜 없지? */
}

.ShopPage nav button {
  padding: 0.5rem 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
}

.ShopPage nav button:hover {
  background-color: goldenrod;
}

.listCon {
  border: 1px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0;
  margin: 0;
  width: calc(100% - 150px - 2rem);
}

@media (max-width: 768px) {
  .ShopPage {
    flex-direction: column;
  }
  .ShopPage nav {
    width: 100%;
    flex-direction: row;
  }

  .ShopPage nav button {
    flex: 1;
  }

  .listCon {
    width: 100%;
  }
}
